body {
    background: linear-gradient(135deg, #000000, #327A8E);
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.card {
    background: #ffffff;
    border: none;
}

.form-control {
    border-radius: 10px;
    border: 1px solid #ddd;
}

.btn-primary {
    background: #4e54c8;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background: #3b41b4;
}

a {
    color: #4e54c8;
}

a:hover {
    color: #3b41b4;
}
